<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>首页</title>
   <!-- \webjars\bootstrap\3.3.7\js\bootstrap.min.js
    \webjars\jquery\3.3.1\jquery.min.js
    \webjars\jquery\3.3.1\jquery-3.3.1.jar!\META-INF\resources\webjars\jquery\3.3.1\jquery.min.js-->
    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        <div class="col-md-2 side-nav">
            <div class="panel-group" id="accordion">
                <div class="panel-heading panel">
                    <a href="index.html" class="side-nav-item item-title">
                        <h2>首页</h2>
                    </a>
                    <div class="item-body collapse" id='index'>
                    </div>
                </div>


                <div class="panel-heading panel">
                    <a data-toggle="collapse" data-parent="#accordion" href="#item-caiwu" class="side-nav-item item-title collapsed">
                        <h4><b>mock接口</b></h4>
                    </a>
                    <div id="item-caiwu" class="panel-collapse collapse">
                        <div class="item-body">
                            <li><a href="#"><i class="icon-user"></i>接口配置</a></li>
                            <li><a href="#"><i class="icon-edit"></i>接口发送</a></li>
                        </div>
                    </div>
                </div>

                <div class="panel-heading panel">
                    <a data-toggle="collapse" data-parent="#accordion" href="#item-huanjing" id="" class="side-nav-item item-title collapsed">
                        <h4><b>环境登记</b></h4>
                    </a>
                    <div id="item-huanjing" class="panel-collapse collapse">
                        <div class="item-body">
                            <li><a href="#"><i class="icon-user"></i>环境查询</a></li>
                            <li><a href="#"><i class="icon-edit"></i>环境增加</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-md-10">
        </div>
    </div>
</body>
</html>